.Container {
  margin: 10px auto;
  border: 1px solid grey;
  width: 400px;
  background-color: #00b894;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  user-select: none;
}

.AddInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  height: 50px;
  background-color: #e6ecf3;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
}

.AddInput button{
  float: right;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  color:red;
  font-size: 30px;
  background-color: white;
  outline: none;
  border-radius: 5px;
}

.AddInput span{
  margin: 10px;
  font-size: 25px;
}

.UserInput {
  margin: 10px;
  display: flex;
  align-items: center;
}

.UserInput Button{
  height: 40px;
  width: 55px;
  font-size: 20px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 10px;
}

.UserInput input{
  height: 40px;
  width: 310px;
  font-size: 25px;
  padding-left: 5px;
}

.ItemFilters {
 height: 40px;
 margin: 10px;
 display: flex;
 justify-content: space-between;
}

.ItemFilters button {
  height: 40px;
  width: 120px;
  font-size: 20px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 2px;
 }

 .toggleOnComplete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  height: 50px;
  background-color: #e6ecf3;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
}

.toggleOnComplete button{
  float: right;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  color:red;
  font-size: 30px;
  background-color: white;
  outline: none;
  border-radius: 5px;
}

.toggleOnComplete span{
  margin: 10px;
  font-size: 25px;
  text-decoration: line-through;
}
